@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap'); 
@font-face {
  font-family: 'JuliusSansOne-Regular';
  src: url('../public/fonts/JuliusSansOne-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  margin-left: 1rem; /* mx-4, assuming 1 unit = 0.25rem */
  margin-right: 1rem;
}

@media (min-width: 768px) {
  body {
    margin-left: 12rem; /* md:mx-48, assuming 1 unit = 0.25rem */
    margin-right: 12rem;
  }
}

@media (min-width: 1280px) {
  body {
    margin-left: 24rem; /* xl:mx-96, assuming 1 unit = 0.25rem */
    margin-right: 24rem;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 8px; /* Smaller font size */
    padding: 8px 20px; /* Slightly smaller padding */
    /* You might also want to adjust other properties to make the button look better on smaller screens */
  }

  .SiteName {
    font-size: 20px; /* Smaller font size for the site name */
    /* Adjust other properties as needed to ensure the site name looks good on small screens */
  }
}

.SiteName
{
  font-family: 'JuliosSansOne-regular';
  font-size: 22px;
  font-weight: 10;
  border-bottom: solid 1px black;
}

.btn{
font-family: Roboto, sans-serif;
font-weight: 100;
font-size: 10px;
color: #fff;
background: linear-gradient(90deg, #000000 0%, #858585 100%);
padding: 8px 20px;
border: solid #5c5c5c 2px;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}
.btn:hover{
transition : 321ms;
padding: 8px 20px;
background: linear-gradient(90deg, #000000 0%, #858585 100%);
color: #edf6ff;
border: solid 2px #000000;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.singlePost{
  background-color: #e2e8f0; /* This is a common approximation for Tailwind's gray-200 */
  margin-top: 2rem; /* Adjust based on your project's base spacing unit */
  margin-bottom: 2rem; /* Adjust based on your project's base spacing unit */
  padding: 2rem; /* Adjust based on your project's base spacing unit */
  border-radius: 0.5rem; /* This is an approximation for 'rounded-lg' */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* A general shadow effect */
}

.singlePost:hover{
  transition: 0.3s ease;
  transform: scale(1.03);
  border: solid 1px black;
}

.addPost{
  background-color: #e2e8f0; /* This is a common approximation for Tailwind's gray-200 */
  margin-top: 2rem; /* Adjust based on your project's base spacing unit */
  margin-bottom: 2rem; /* Adjust based on your project's base spacing unit */
  padding: 2rem; /* Adjust based on your project's base spacing unit */
  border-radius: 0.5rem; /* This is an approximation for 'rounded-lg' */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* A general shadow effect */
}


.postformbox{
  padding: 1rem; /* p-4 equivalent */
  font-size: 1.125rem; /* text-lg equivalent */
  border-radius: 0.5rem; /* rounded-md equivalent */
  background-color: #ffffff; /* bg-gray-200 equivalent */
  border: 1px solid #ffffff; /* Adds a light border similar to Tailwind's default */
  transition: border-color 0.2s; /* Smooth transition for border color change */
}

.postformbox:focus{
  border-color: #000000;
  border: 1px solid rgba(140, 140, 140, 0.683);
  outline: none;
}